extends layout

block content
  h1 
    | Social Login
  p
    | This is a demo app showing Facebook login with ExpressJS by 
    a(href="https://www.reptilehaus.io/", target="_blank")
        | REPTILEHAUS

  if !user
    p Welcome please 
       a(href="/login")
          | Login
  else
    p Hello #{user.username} 
       a(href="/profile")
          | Profile